.results {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid gray;
    width: 100%;
    // margin-left: 5%;
    // margin-right: 5%;
    // padding-left: 5%;
    // padding-right: 5%;
    // height: 20cm;
    // overflow: auto;
    justify-content: center;
    align-items: center;

    .no-result-response {
        color: red;
        font-style: italic;
    }

    .result-box {
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 5%;
        padding-right: 5%;
        height: auto;
        max-height: 15cm;
        overflow: auto;


        .toggle {
            margin-right: 0;
        }
    }
}