.browse {
    // position: absolute;
    display: flex;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5cm;
    border: 0.5px solid rgba(0,0,0,.15);
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    z-index: 500;
    font-size: 16px;

    .browse-inputs {
        width: 95%;
        margin: auto;
        
        .form-group {
            .form-input {
                width: 100%;
            }

            .row {
                display: flex;
                // align-items: center;
                justify-content: center;
                margin-top: 0.5cm;
                margin-bottom: 0.5cm;

                .col {
                    width: fit-content;
                }
            }

            #currency-row {
                width: 40%;
                margin-left: auto;
                margin-right: auto;
            }

            #button-row .col {
                flex: none;
            }

            .error-message {
                text-align: center;
                color: red;
                margin: 0;
            }

            .ignore-date-notice {
                text-align: center;
                font-style: italic;
                h6 span {
                    font-weight: 700;
                    color: red
                }
            }
        }
    }
}