.result {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-top: 0.5cm;

    .row {
        display: flex;
        width: 100%;
        margin: 5px;
        height: 3cm;
        // margin: 0;
        align-items: center;
        justify-content: center;
        border: 0.5px solid rgba(0,0,0,.15);
        box-shadow: 0 2px 4px rgba(0,0,0,.15);    

        .box {
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            #from {
                position: absolute;
                left: 15px;
                align-items: center;
            }

            #to {
                float: right;
                position: absolute;
                right: 15px;
            }

            #from span,
            #to span {
                font-weight: 700;
                font-size: 20px;
            }

            #origin {
                position: absolute;
                top: 5px;
                left: 15px;
            }

            #destination {
                position: absolute;
                top: 5px;
                right: 15px;
            }
            
            #departure-date {
                font-style: italic;
                position: absolute;
                bottom: 5px;
            }

            #currency {
                font-style: italic;
                position: absolute;
                bottom: 0;
                margin-right: 15px;
            }

            #price {
                position: absolute;

                .price {
                    font-weight: 700;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            h3, h6, h4, p {
                margin: 0;
            }
        }
        
        .box.left {
            border-right: 1px dashed black;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;

            h4 {
                font-weight: 700;
                margin-left: 2.5px;
                margin-right: 2.5px;
            }
        }
    }
}

.result.cheapest {
    border: 2px solid green;
}